
.sidebar{
    position: sticky;
    height: 650px;
    top: 70px;
    z-index: 1;
}

.feedContainer{
    display: flex;
   
}



@media screen and (width<900px) {
    .feedContainer{
        flex-direction: column;
        
    }

    .sidebar{
        height: fit-content;
        
    }
}